<% stylesheet_link_tag('post') %>

<p style="color: green"><%= notice %></p>

<div class="feed-container">
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  <% else %>
    <div class="no-posts-found">No posts found.</div>
  <% end %>
</div>
