<footer class="bg-primary text-white pt-4 pb-2">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>Instaclone</h5>
        <p>Here you can see how instagram would look like if indians made it.</p>
      </div>
      
      <div class="col-md-4 mb-3">
        <h5>Useful Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Link 1</a></li>
          <li><a href="#" class="text-white">Link 2</a></li>
          <li><a href="#" class="text-white">Link 3</a></li>
          <li><a href="#" class="text-white">Link 4</a></li>
        </ul>
      </div>
      
      <div class="col-md-4 mb-3">
        <h5>Thanks</h5>
        <p>For paying attention to this piece of art.</p>
      </div>
    </div>
    <div class="text-center mt-3">
      <small>&copy; 2025 Copyright: Instaclone.com</small>
    </div>
  </div>
</footer>